:root {
  /* add css variables here for themes */
  --background-color: #ffffff;
  --font-color: #000000;
  --button-color: #a6a6a6;
  --header-footer-color: #00004B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

button {
  background-color: var(--button-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  height: 100px;
  background-color: var(--header-footer-color);
  min-width: 100%;
}

.NavBar {
  padding-top: 1em;
  width: fit-content;
  height: fit-content;
  background-color: var(--header-footer-color);
}

/* customize site */

.optionsWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 2%;
  top: 55px;
}

.optionsHeader {
  border: 1px solid var(--font-color);
  background-color: var(--button-color);
  color: var(--font-color);
  width: auto;
  height: fit-content;
  padding-left: 4px;
  padding-right: 4px;
  right: 10px;
  text-align: center;
}

.optionsHeader * {
  background-color: var(--button-color);
  color: var(--font-color);
  font-size: 1em;
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: underline solid var(--font-color);
}

.optionsHeader:hover {
  cursor: pointer;
}

.optionsHeader:active > .customizeMenu {
  max-height: 200px;
}

.customizeMenu {
  position: relative;
  outline: 1px solid var(--font-color);
  z-index: 5;
}

.customizeMenu * {
  background-color: #efefef;
}

.customizeMenu h4 {
  margin: 0;
  padding-left: 1em;
}

.optionGroupWrapper button {
  height: 15px;
  width: calc(100% / 7);
  cursor: pointer;
}

/* end customize site */

.Main {
  text-align: center;
  background-color: var(--background-color);
  min-height: calc(100vh - 150px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.About {
  text-align: center;
  background-color: var(--background-color);
  min-height: calc(100vh - 150px);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Blog {
  text-align: center;
  background-color: var(--background-color);
  min-height: calc(100vh - 150px);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Logo Animation */

.DHLogo {
  background-color: var(--header-footer-color);
}

section {
  display: block;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.logoimg {
  height: 100%;
  width: 100%;
  position: relative;
}

#logoimg0 {
  animation: blow-up-entrance 500ms linear 0s 1 normal;
  transform-origin: center;
}

#logoimg1 {
  animation: blow-up-entrance 500ms linear 0s 1 normal;
  transform-origin: center;
  position: absolute;
  left: 0
}

#logoimg4 {
  animation: move-aside .5s ease-in 2s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes move-aside {
  from {top: 0; right: 0}
  to {top: 36vh; right: 36vw}
}

@keyframes blow-up-entrance {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

/* end animation */

.About h1 {
  text-decoration: underline solid var(--font-color);
}

.About h3 {
  font-style: italic;
  color: var(--button-color);
  text-align: center;
  margin: 0;
}

#timeline {
  max-width: 60%;
  position: relative;
  margin: 20px 0 30px 0;
}

#timeline::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--button-color);
  height: 100%;
  width: 10px;
  left: -34px;
}

#timeline p {
  margin: 35px 0 0 0;
  text-align: justify;
  position: relative;
}

#timeline p::before {
  content: "";
  display: block;
  position: absolute;
  left: -46px;
  top: calc(50% - 15px);
  background-color: var(--font-color);
  border: solid 2px black;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

#timeline #goal {
  margin: 50px 0 20px 0;
}

#arrow {
  display: block;
  position: absolute;
  left: -48.5px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--button-color);
}

.pop {
  font-weight: bold;
  font-style: italic;
  color: var(--button-color);
  text-decoration: underline solid var(--button-color);
  font-size: 1.5em;
}

#currentSkills {
  margin: 20px 0;
  width: 40%;
}

#skillGraph {
  position: relative;
  border: 1px solid var(--button-color);
  height: 150px;
}

.Resume {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.resume-link {
  display: inline-block;
  position: relative;
}

.Footer {
  background-color: var(--header-footer-color);
  height: 50px;
  min-width: 100%;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.DHLogo {
  height: 90%;
  margin: 2px 2px;
}

.followMe {
  margin: 30px 0;
}

.followMe img {
  vertical-align: middle;
}

#brandBar {
  position: relative;
  display: inline-block;
  /* margin-left: 3%; */
  background-color: white;
  width: fit-content;
  left: calc((100vw / 2) - 95px)
}

/* #brandBar {
  position: absolute;
  bottom: 0px;
  left: 40%;
  background-color: white;
  width: fit-content;
} */

#brandBar p {
  line-height: 16px;
  text-align: center;
  background: var(--header-footer-color);
  color: var(--button-color);
  text-decoration: underline;
  padding-bottom: 1px;
}

#brandBar span {
  height: fit-content;
  margin: 0 2px;
}

#brandBar img, svg {
  background-color: white;
}

.hidden {
  display: none;
}