html {
  /* add css variables here for themes */
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  height: 100px;
  background-color: grey;
}

.Main {
  text-align: center;
  background-color: #606979;
  min-height: calc(100vh - 150px);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.About {
  text-align: center;
  background-color: #606979;
  min-height: calc(100vh - 150px);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Blog {
  text-align: center;
  background-color: #606979;
  min-height: calc(100vh - 150px);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Logo Animation */

section {
  display: block;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.logoimg {
  height: 100%;
  width: 100%;
  position: relative;
}

#logoimg0 {
  animation: blow-up-entrance 500ms linear 0s 1 normal;
  transform-origin: center;
}

#logoimg1 {
  animation: blow-up-entrance 500ms linear 0s 1 normal;
  transform-origin: center;
  position: absolute;
  left: 0
}

#logoimg4 {
  animation: move-aside .5s ease-in 2s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes move-aside {
  from {top: 0; right: 0}
  to {top: 36vh; right: 36vw}
}

@keyframes blow-up-entrance {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

/* end animation */

/* customize site */

.optionsWindow {
  border: 1px solid black;
  background-color: white;
  color: black;
  min-height: 50vh;
  min-width: 30vw;
}

/* end customize site */

.Resume {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-link {
  display: inline-block;
  position: relative;
}

.Footer {
  background-color: grey;
  height: 50px;
}

.DHLogo {
  height: 90%;
  margin: 2px 2px;
}

.followMe img {
  vertical-align: middle;
}